@inject UI.Services.TokenProvider TokenProvider
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">UI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                    <form action="/Logout" method="post">
                        <button class="nav-link btn btn-link" type="submit">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Log out (@context.User.Identity.Name)
                        </button>
                        <input name="__RequestVerificationToken" type="hidden"
                               value="@TokenProvider.XsrfToken">
                    </form>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="list-group-item list-group-item-action bg-light" href="Login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Log in
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
